<header class="page-header">
  <h1 class="page-header-line-1">
    Get
    <br class="page-header-line-1-break" />
    a calendar
  </h1>
  <h2 class="page-header-line-2">one-page, full-year, printable &amp; free</h2>
</header>

<div class="light-overlay lower"></div>

<div class="calendar-preview-wrapper">
  <div class="calendar-preview">
    <div class="calendar-preview-background"></div>
    {{canvas-view canvas=renderer.output class="calendar-preview-content"}}
  </div>
</div>

<div class="light-overlay upper"></div>

<div class="form-wrapper">
  <div class="form">

    {{input value=model.year type="number" class="form-year-input"}}

    {{fake-select value=model.locale content=locales class="form-locale-input"}}

    <button {{action "download"}} class="form-button">
      {{#if isRendering}}
        {{preloader-spinner}}
      {{else}}
        Download PDF
      {{/if}}
    </button>
  </div>
</div>
